<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LoggerHead Admin</title>
    <link rel="stylesheet" href="/static/static/css/bootstrap.css">
</head>
<body>
    <h1>Welcome to LoggerHead Admin interface</h1>
    <p>There are currently {{.NodesAlive}} node(s) alive</p>
    <div class="container">
        <div class="row">
            <h2>Cluster:</h2>
            <span class="data-placeholder">Loading cluster state.....</span>
            <div class="row">
                <div class="col-12">
                    <table class="table table-stripped d-none" id="data-table">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>
                                Perceived Health
                            </th>
                            <th>
                                State
                            </th>
                            <th>
                                Nodes Known Alive
                            <th>
                                Memory
                            </th>
                            <th>
                                Available CPUs
                            </th>
                            <th>
                                Go Routines
                            </th>
                        </tr>
                        </thead>
                        <tbody ></tbody>

                        <tfoot>
                        <tr>
                            <th>Name</th>
                            <th>
                                Perceived Health
                            </th>
                            <th>
                                State
                            </th>
                            <th>
                                Nodes Known Alive
                            <th>
                                Memory
                            </th>
                            <th>
                                Available CPUs
                            </th>
                            <th>
                                Go Routines
                            </th>
                        </tr>
                        </tfoot>

                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/static/js/jquery-v3.7.1.min.js"></script>
    <script src="/static/static/js/bootstrap.js"></script>
    <script src="/static/static/js/admin.js"></script>

</body>
</html>